/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

#define MED 1
#define NAV 2
#define MOU 3
#define SYM 4
#define NUM 5

#define XXX &none
#define HYPER_KEY &kp LC(LS(LA(LGUI)))
#define HYPER(k) &kp LC(LS(LA(LG(k))))
#define MED_TAB &lt MED TAB
#define NAV_ESC &lt NAV ESC
#define MOU_SPACE &lt MOU SPACE
#define NUM_ENTER &lt NUM ENTER
#define SYM_BSPC &lt SYM BSPC
#define BRI_DOWN &kp C_BRI_DN
#define BRI_UP &kp C_BRI_UP
#define VOL_UP &kp C_VOL_UP
#define VOL_DOWN &kp C_VOL_DN
#define VOL_MUTE &kp C_MUTE
#define BOOTLOADER &bootloader
#define MAC_UNDO &kp C_AC_UNDO
#define MAC_REDO &kp C_AC_REDO
#define MAC_PASTE &kp C_AC_PASTE
#define MAC_COPY &kp C_AC_COPY
#define MAC_CUT &kp C_AC_CUT 

#define HRML(k1,k2,k3,k4) &ht LGUI k1 &ht LALT k2  &ht LCTRL k3  &ht LSHFT k4
#define HRMR(k1,k2,k3,k4) &ht LSHFT k1 &ht LCTRL k2  &ht LALT k3  &ht LGUI k4

/ {
        behaviors {
            ht: hold_tap {
                label = "hold_tap";
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                flavor = "tap-preferred";
                tapping-term-ms = <200>;
                quick-tap-ms = <150>;
                global-quick-tap;
                bindings = <&kp>, <&kp>;
            };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                    bindings = <
                //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                //│          │  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │          │
                    XXX        &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P      XXX
                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                //│          │  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │  ; :     │          │
                    XXX        HRML( A,         S,         D,         F)   &kp G          HRMR( H,         J,         K,         L)   &kp SEMI   XXX
                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                //│          │  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , <      │ . >      │ / ?      │          │
                    XXX        &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &kp DOT    &kp SLASH  XXX
                //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                                     MED_TAB    NAV_ESC    MOU_SPACE      NUM_ENTER  SYM_BSPC   HYPER_KEY
                //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
                    >;
                };

                media_layer {
                    bindings = <
                //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                //│ Reset    │          │          │          │          │          │   │          │          │          │          │          │          │
                   BOOTLOADER  XXX        XXX        XXX        XXX        XXX            XXX        XXX        XXX        XXX        XXX        XXX
                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                //│          │          │          │          │Screenshot│          │   │          │ Vol up   │ Vol down │ Vol mute │          │          │
                    XXX        XXX       BRI_DOWN    BRI_UP    HYPER(N4)   XXX            XXX        VOL_UP     VOL_DOWN   VOL_MUTE   XXX        XXX
                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                //│          │          │          │          │          │          │   │          │          │          │          │          │          │
                    XXX        XXX        XXX        XXX        XXX        XXX            XXX        XXX        XXX        XXX        XXX        XXX
                //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                                     &trans     &trans     &trans         &trans     &trans     XXX
                //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
                    >;
                };

                navigation_layer {
                    bindings = <
                //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                //│          │          │          │          │Vim leader│          │   │ Undo     │ Paste    │ Copy     │ Cut      │ Redo     │          │
                    XXX        XXX        XXX        XXX        &kp SEMI   XXX            MAC_UNDO   MAC_PASTE  MAC_COPY   MAC_CUT    MAC_REDO   XXX
                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                //│          │ Command    Alt      │ Control  │ Shift    │          │   │ Left     │ Down     │ Up       │ Right    │ Cmd + Tab│          │
                    XXX        &kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT  XXX            LEFT       DOWN       UP         RIGHT      LG(TAB)    XXX
                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                //│          │          │          │          │Tmux Pr...│          │   │ Nav left │ Vim left │ Vim right│ Nav right│ Cmd + `  │          │
                    XXX        XXX        XXX        XXX        LC(F)      XXX            &kp F23    LS(LEFT)   LS(RIGHT)  &kp F24    LG(GRAVE)  XXX
                //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                                     &trans     &trans     &trans         &trans     &trans    &caps_word
                //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
                    >;
                };

                mouse_layer {
                    bindings = <
                //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                //│          │          │          │          │          │          │   │ Undo     │ Paste    │ Copy     │ Cut      │ Redo     │          │
                    XXX        XXX        XXX        XXX        XXX        XXX            MAC_UNDO   MAC_PASTE  MAC_COPY   MAC_CUT    MAC_REDO       XXX
                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                //│          │          │ Max speed│ Low speed│ Med speed│          │   │Mouse left│Mouse down│ Mouse up │Mouse r...│ Cmd + Tab│          │
                    XXX        XXX      &kp LG(F14) &kp LG(F15) &kp LG(F16)    XXX      &kp LG(F24) &kp LG(F23) &kp LG(F22) &kp LG(F21) LG(TAB)  XXX
                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                //│          │          │ Right alt│          │          │          │   │Wheel left│Wheel down│ Wheel up │Wheel r...│ Cmd + `  │          │
                    XXX        XXX        RALT       XXX        XXX        XXX          &kp LG(F20) &kp LG(F19) &kp LG(F18) &kp LG(F17) LG(GRAVE) XXX
                //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                                     &trans     &trans     &trans         &mkp LCLK &mkp RCLK  &mkp MCLK
                //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
                    >;
                };
        };
};
