// Map extra keys
#define _LHX  &none
#define _RHX  &none
// Activate bluetooth
#define CONFIG_WIRELESS 1

#include "zmk-helpers/key-labels/36.h"
#include "base.keymap"

// Use the five column layout for corne
ZMK_APPLY_MATRIX_TRANSFORM(five_column_transform)
